.tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 2%;
    gap: 0.5rem;
}

.badge-tag {
    padding: 1% !important;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
}

.badge-tag.active-tag {
    background-color: var(--10color);
    color: var(--60color);
}
.badge-tag.not-active {
    background-color: var(--30color);
    color: var(--60color);

    @media (min-width: 768px) {
        &:hover {
            background-color: var(--10color);
            color: var(--60color);
        }
    }
}

.new-tag {
    background-color: var(--30color);
    color: var(--60color);
    border-radius: 10px;
    padding: 0% 1%;
    border: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;

    & input {
        border: 0px;
        outline: 0px;
    }
}

.new-tag-btn {
    border-radius: 10px;
    padding: 0%;
    border: 0px;
    cursor: pointer;
    object-fit: contain;
}
