.tooltip-container {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0.3rem;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 130%;
  left: 10%;
  transform: translateX(-0%);
  background-color: var(--60color);
  color: var(--30color);
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 2;
  white-space: nowrap;
}

.tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--60color) transparent;
  cursor: pointer;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
}

.tooltip-container:hover {
  background-color: var(--60color);
}


